@import 'globals';
@import 'mixins/flexmixins';
@import 'partials/header';

* {

  margin: 0;
  padding: 0;

}

body{

  height:100%;
  width:100%;
  position:absolute;

}

#mainViewContainer{

  //flexbox(direction of flex, layout/display)
  @include flexItem(1,1,auto);
  height: 100%;
  width: 100%;
}

#mainContent {

  height: 100%;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;

  input {

    margin: 2% 0;
    padding-left: 15px;
    height: 25px;
  }

  textarea{

    resize: none;
    width: 100%;
    height: 75%;
    padding: 2%;
    box-sizing: border-box;

  }

}



